<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Portal de Niños - Superfinanciera</title>
	<link rel="stylesheet" href="https://www.superfinanciera.gov.co/jsp/bootstrap4/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body>

<header>

	<!--- ************* copiar desde aqui - INICIO ****************/ --> 
	<!-- encabezado gov co -->
	<div class="header-gov">
		<div class="container">
			<div class="row">
				<!-- logo -->
				<div class="col logo-gov">
					<div class="bloqueZona1  tipoDisplay">
						<a href="https://www.gov.co/home/">
							<img class="img-fluid" class="img-responsive " src="img/logoGovCo.png" id="bloqueImg3" alt="Imagen">
						</a>
					</div>
				</div>
				<!-- end logo -->
				<!-- toolbar -->
				<div class="col toolbar-gov-co">
					<div class="toolbar-header-gov text-right ">
						<ul class="list-inline toolbar-login">
							<!-- language en -->
							<li class="toolbar_language toolbar_language--en notranslate">
								<a href="/loader.php?lServicio=Tools2&amp;lTipo=idioma&amp;idioma=EN" class="lang_button notranslate" data-lang="en">
						          EN
						        </a>
							</li>
							<!-- end language en -->
							<!-- language es -->
							<li class="toolbar_language toolbar_language--es notranslate">
								<a href="/loader.php?lServicio=Tools2&amp;lTipo=idioma&amp;idioma=ES" class="lang_button notranslate lang_active" data-lang="es">
						        	 ES
						        </a>
							</li>
							<!-- end language es -->
						</ul>
					</div>
				</div>
				<!-- end toolbar -->
			</div>
		</div>
	</div>
	<!-- end encabezado gov co -->


	<!--- ************* copiar hasta aqui. FIN  ****************/ --> 


	</header>
</body>
</html>