<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Portal de Niños - Superfinanciera</title>
	<link rel="stylesheet" href="https://www.superfinanciera.gov.co/jsp/bootstrap4/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body>

	<!--- ************* copiar desde aqui - INICIO ****************/ --> 
<footer>
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-9 footer_sede_principal">
					<h2 class="headline-l">Superintendencia Financiera de Colombia</h2>
					<h3 class="title_sede">Sede Principal</h3>
					<ul class="list-unstyled">
						<li><p>Dirección: Calle 7 No. 4 - 49 Bogotá, D.C.</p></li>
						<li><p>Conmutador: +57(1) 594 02 00 - 594 02 01 - 350 8166</p></li>
						<li><p>Fax: +57(1) 350 79 99 - 350 5707</p></li>
						<li><p>Centro de Contacto: +57 (1) 307 8042 </p></li>
						<li><p>Lunes a viernes (días hábiles) de 7:30 a.m. a 10:00 p.m. jornada continua. </p></li>
						<li><p>Sábados, Domingos y Festivos de 8:00 a.m. a 4:00 p.m. jornada continua.</p></li>
						<li><p>Línea gratuita nacional: 018000 120 100</p></li>
						<li><p>Correo institucional: super@superfinanciera.gov.co</p></li>
						<li><p>Correo electrónico para notificaciones: notificaciones_ingreso@superfinanciera.gov.co</p></li>
					</ul>
				</div>
				<div class="col-12 col-sm-3 footer_logo">
					<figure>
						<img class="img-fluid" class="img-responsive " src="https://juksoto.github.io/ninosSPF/img/logo.jpg" alt="Logo SPF">
					</figure>
				</div>
				<div class="col-12 social_links">
					<ul class="list-inline">
						<li class="list-inline-item">
							<a class="section" href="https://www.facebook.com/superintendencia.financiera." title="Enlace a @Superintendencia Financiera de Colombia"><i class="fa fa-facebook-f"></i>
                    			<strong>@Superintendencia Financiera de Colombia</strong>
                    		</a>
                    	</li>
                     	<li class="list-inline-item">
	                     	<a class="section" href="https://www.instagram.com/superfinanciera/" title="Enlace a @superfinanciera">
	                    			<i class="fa fa-instagram"></i> <strong>@superfinanciera</strong>
	                    		</a>
                    	</li>
                     	<li class="list-inline-item">
	                     	<a class="section" href="https://twitter.com/SFCsupervisor" title="Enlace a @SFCsupervisor">
	                    		<i class="fa fa-twitter"></i><strong>@SFCsupervisor</strong>
	                		</a>
                    	</li>
                    </ul>
				</div>
				<div class="col-12 enlaces_footer">
					<ul class="list-unstyled lista-enlaces">
                     	<li>
							<a class="section " href="https://www.superfinanciera.gov.co/descargas?com=institucional&name=pubFile60173&downloadname=PoliticaEditorialSFC.doc" title="Enlace a Políticas">
                     			<strong>Políticas</strong>                 
                 			</a>
                 		</li>
                     	<li>
							<a class="section " href="https://ninos.superfinanciera.gov.co/jsp/Publicaciones/mapasitio/loadMapaSitio/s/0/f/0/c/0" title="Enlace a Mapa del sitio">
                     			<strong>Mapa del sitio</strong>                 
                 			</a>
                 		</li>
                 	</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="copywrite  ">
	    <div class="container">
	        <div class="row">
	            <div class="col">
	               <img class="img-fluid logoGovCo" src="https://juksoto.github.io/ninosSPF/img/logoGovCoFooter.png"  alt="Ir a Gov Co">
	            </div>
	            <div class="powered">
	                <a href="https://www.nexura.com/" target="_blank">
	                    <img class="img-fluid " src="https://juksoto.github.io/ninosSPF/img/powered.png" alt="powered by nexura">
	                </a>
	            </div>
	        </div>
	    </div>
	</div>
</footer>

	<!--- ************* copiar hasta aqui. FIN  ****************/ --> 

</body>
</html>